<footer class="bg-light text-center text-lg-start footer-css bg-dark">
  <ul class="nav footer-icon">
    <li class="nav-item">
      <a class="nav-link text-white active"><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#"><i class="fa fa-search"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#"><i class="fa fa-list"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white"><i class="fa fa-spotify"></i>
      </a>
    </li>
  </ul>
</footer>