<nav class="navbar navbar-dark bg-dark bgNavColor" style="display: block;">
    <div class="text-white fw-bold p-2 fontStyle">
      
       <div class="container">
         <div class="row">
           <div class="col">
            {{headerText}}
           </div>
           <div class="col text-end">
            <i class="firstIconPadding fa fa-bell"></i>
            <i class="fa fa-history secondThirdIconPadding"></i>
            <i class="fa fa-cog secondThirdIconPadding" ></i>
           </div>
         </div>
       </div>
    </div>
  </nav>